<!DOCTYPE html>
<html>
  <head>
    <title>bShop</title>
    <meta name="viewport" content="width=device-width, inital-scale=1.0">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

  <div id="header">
    <div id="title">
    	<div><%= link_to(image_tag("bslogo.png")) %></div>
    </div>

    <div id="login">
    	<% if user_signed_in? %>
    		Logged in as <strong><%= current_user.email %></strong>.
    		<%= link_to 'Edit profile', edit_user_registration_path %> |
    		<%= link_to 'Logout', destroy_user_session_path, method: :delete %>
    	<% else %>
    		<%= link_to "Sign up", new_user_registration_path %> |
    		<%= link_to "Login", new_user_session_path %>
    	<% end %>
    </div>
  </div>

  <%= yield %>

  <div id="footer">
  	<div><p>Home</p></div>
    <div><p>About</p></div>
    <div><p>Rules</p></div>
  </div>

  </body>

<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</html>
