<!DOCTYPE html>
<html>
  <head>
    <title>bShop - Social classifieds for everyone</title>
    <meta name="viewport" content="width=device-width, inital-scale=1.0">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

  <%  $profileLink = "Profile"
      $logoutLink = "Logout"
      $signupLink = "Signup"
      $loginLink = "Login" %>

  <div id="mobileMenu" class="contract">

    <div class="menuContent">

      <div id="navLogo"><%= link_to image_tag("bslogo.png"), root_path %></div>

      <% if user_signed_in? %>
        <%= link_to raw($profileLink), edit_user_registration_path %>
        <%= link_to raw($logoutLink), destroy_user_session_path, method: :delete %>
        <a href="#">Post</a>
        <a href="#">Mail</a>
      <% else %>
        <%= link_to raw($signupLink), new_user_registration_path %>
        <%= link_to raw($loginLink), new_user_session_path %>
      <% end %>
      
      <a href="#">Rules</a> 
      <a href="#">About</a>

    </div>
  </div>


  <div id="header">

    <div id="title">

    	<div><%= link_to image_tag("bslogo.png"), root_path %></div>

    </div>

    <div id="login">

    	<% if user_signed_in? %>
    		Logged in as <strong><%= current_user.email %></strong>.
    		<%= link_to 'Profile', edit_user_registration_path %> |
    		<%= link_to 'Logout', destroy_user_session_path, method: :delete %>
    	<% else %>
    		<%= link_to "Sign up", new_user_registration_path %> |
    		<%= link_to "Login", new_user_session_path %>
    	<% end %>

    </div>

    <div id="hamburger">
      <div id="bar1"></div>
      <div id="bar2"></div>
      <div id="bar3"></div>
    </div>    

  </div>

  <div id="nav">
    <div id="saleBtn">For Sale</div>
    <div id="housBtn">Housing</div>
    <div id="jobsBtn">Jobs</div>
    <div>For Trade</div>
    <div>For Free</div>
  </div>

  <div id="sale" class="dropdown">
    <div id="indie" class="halfAll">
      <div class="halfHead">By Individual</div>
        <dir class="halfBottom">
          <div class="menuSection">
            <div>Appliances</div>
            <div>Audio</div>
            <div>Autos</div>
            <div>Auto Wheels / Tires</div>
            <div>Auto Parts</div>
            <div>Baby Stuff</div>
            <div>Bicycles</div>
            <div>Business / Industrial</div>
          </div>
          <div class="menuSection">
            <div>Cameras</div>
            <div>CDs / Vinyl</div>
            <div>Clothes - Youth</div>
            <div>Clothes - Teen / Adult</div>
            <div>Collectibles / Antiques</div>
            <div>Computers</div>
            <div>Computer Hardware</div>
            <div>Electronics</div>
          </div>
          <div class="menuSection">
            <div>Farming / Gardening</div>
            <div>Furniture</div>
            <div>Garage Sales</div>
            <div>Industrial Equipment</div>
            <div>Jewelry</div>
            <div>Marine</div>
            <div>Materials</div>
            <div>Motorcycles</div>
          </div>
          <div class="menuSection">
            <div>Music Instruments</div>
            <div>Phones</div>
            <div>Recreational Vehiles</div>
            <div>Sports</div>
            <div>Tools</div>
            <div>Toys / Games</div>
            <div>Video Gaming</div>
            <div>Other</div>
          </div>
        </dir>
    </div>

    <div id="business" class="halfAll">
      <div class="halfHead">By Business</div>
        <dir class="halfBottom">
          <div class="menuSection">
            <div>Appliances</div>
            <div>Audio</div>
            <div>Autos</div>
            <div>Auto Wheels / Tires</div>
            <div>Auto Parts</div>
            <div>Baby Stuff</div>
            <div>Bicycles</div>
            <div>Business / Industrial</div>
          </div>
          <div class="menuSection">
            <div>Cameras</div>
            <div>CDs / Vinyl</div>
            <div>Clothes - Youth</div>
            <div>Clothes - Teen / Adult</div>
            <div>Collectibles / Antiques</div>
            <div>Computers</div>
            <div>Computer Hardware</div>
            <div>Electronics</div>
          </div>
          <div class="menuSection">
            <div>Farming / Gardening</div>
            <div>Furniture</div>
            <div>Garage Sales</div>
            <div>Industrial Equipment</div>
            <div>Jewelry</div>
            <div>Marine</div>
            <div>Materials</div>
            <div>Motorcycles</div>
          </div>
          <div class="menuSection">
            <div>Music Instruments</div>
            <div>Phones</div>
            <div>Recreational Vehiles</div>
            <div>Sports</div>
            <div>Tools</div>
            <div>Toys / Games</div>
            <div>Video Gaming</div>
            <div>Other</div>
          </div>
        </dir>
    </div>
  </div>

  <div id="housing" class="dropdown">
    <div id="indie" class="halfAll">
      <div class="halfHead">By Individual</div>
        <dir class="halfBottom">
          <div class="menuSection">
            <div>Apartments</div>
            <div>Houses</div>
            <div>Housing Wanted</div>
          </div>
          <div class="menuSection">
            <div>Land</div>
            <div>Rooms for Rent</div>
            <div>Rooms Wanted</div>
          </div>
          <div class="menuSection">
            <div>Short Term Rental / Sublet</div>
            <div>Storage / Parking</div>
            <div>Vacation Rental</div>
          </div>
        </dir>
    </div>

    <div id="business" class="halfAll">
      <div class="halfHead">By Business</div>
        <dir class="halfBottom">
          <div class="menuSection">
            <div>Apartments</div>
            <div>Houses</div>
            <div>Land</div>
          </div>
          <div class="menuSection">
            <div>Offices / Commercial</div>
            <div>Real Estate</div>
            <div>Rooms for Rent</div>
          </div>
          <div class="menuSection">
            <div>Short Term Rental / Sublet</div>
            <div>Storage / Parking</div>
            <div>Vacation Rental</div>
          </div>
        </dir>
    </div>
  </div>

  <div id="jobs" class="dropdown">
    <div id="indie" class="halfAll">
      <div class="halfHead">By Individual</div>
        <dir class="halfBottom">
          <div class="menuSection">
            <div>Art and Design</div>
            <div>Education / Tutors</div>
          </div>
          <div class="menuSection">
            <div>Software</div>
            <div>Labor / Misc Help</div>
          </div>
          <div class="menuSection">
            <div>Transportation</div>
            <div>Web Development</div>
          </div>
        </dir>
    </div>

    <div id="business" class="halfAll">
      <div class="halfHead">By Business</div>
        <dir class="halfBottom">
          <div class="menuSection">
            <div>Accounting and Finance</div>
            <div>Architecture</div>
            <div>Art and Design</div>
            <div>Business Management</div>
            <div>Customer Service</div>
            <div>Education</div>
            <div>Food Service</div>
            <div>Skilled Labor / Trades</div>
            <div>Government</div>
          </div>
          <div class="menuSection">
            <div>Human Resources</div>
            <div>Legal Services</div>
            <div>Manufacturing</div><div>Marketing</div>
            <div>Medical Services</div>
            <div>Nonprofit</div>
            <div>Real Estate</div>
            <div>Retail</div>
            <div>Sales</div>
          </div>
          <div class="menuSection">            
            <div>Salon / Spa</div>
            <div>Security</div>
            <div>Software</div>
            <div>Systems / Network</div>
            <div>Tech Support</div>
            <div>Transport</div>
            <div>TV / Film</div>
            <div>Web Development</div>
            <div>Writing / Editing</div>
          </div>
        </dir>
    </div>
  </div>


  <%= yield %>

  </body>


</html>
